body {
	position: relative;
	margin: 0;
	padding: 0; 
	background: #f55;
}

#container {
	height: 320px;
	/*background: #555;*/
}

#splash img {
	width: 100%;
}

#splash {
	
	position: absolute;
	width: 40%;

	margin: 0 0 0 30%;
	top: 50%;

}

#before {
	z-index: 2;
}

#after {
	position: absolute;
	z-index: -1;
	top: 0px;
	visibility: hidden;
}

#splash:hover #before  {
	z-index: -1;
}

#splash:hover #after  {
	z-index: 1;
	visibility: visible;
}

